= render 'peep/header'

.page-outer.clearfix
  .page-container.clearfix
    .dashboard-left
      .dashboard-left__profile
        .dashboard-left__profile__top
          %i.fa.fa-user-circle.fa-4x.profile-main-icon
        .dashboard-left__profile__bottom 
          - if user_signed_in?
            = current_user.nickname
          - else
            = '未ログイン'
        %ul.bottom
          %li.bottom__content 
            %span.bottom__content__stats Peep
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Followers
            %span.bottom__content__stats__number 49
          %li.bottom__content 
            %span.bottom__content__stats Following
            %span.bottom__content__stats__number 49

      .main
        .main__contents
          .main__contents__container
            .peeps
              %ol.peeps__items
                %li.peeps__items__main
                  .peeps__items__main__contents
                    .contents
                      .contents__name Yusuke
                      .contents__text
                        %p こんにちはーーー
                      .contents__footer
                        .contents__footer__items
                          %span.contents__footer__items__icon
                            %i.far.fa-comment
                          %span.contents__footer__items__icon
                            %i.far.fa-heart 1