.mypage{
  display: flex;
  padding-top: 46px;
}

.mypage-wrpper{
  height: 100%;
}

.mypage-left{
  height: 300px;
  width: 140px;
  border: solid 1px orange;
  background-color: orangered;
  color: #fff;

  &__contain{
    padding: 20px;
  }
}

.mypage-left__contain__list__all__menu{
  display: block;
  margin-top: 20px;
  
  a{
    color: #fff;
  }
}

.mypage-main{
  margin: 20px 520px;

  &__contain{

    &__logo{
      font-size: 30px;
      font-weight: bold;

      &__icon{
        padding: 10px 30px;

        &__user{
          font-size: 35px;
          margin-top: 20px;
        }
      }
    }
  }
}
