*{
  margin: 0;
  padding: 0;
}

.clearfix ::before,::after{
  clear: both;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

input[type=submit]{
  font-family: FontAwesome;
}

.global-nav{
  border-bottom: 1px solid rgba(0,0,0,0.25);
  height: 46px;
  position: relative;
  width: 100%;

    &__inner{
      background-color: #fff;
      height: 46px;

      &__container{
        max-width: 1190px;
    }
  }
}

.icon__main{
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 12px;
  color: orangered;
  font-size: 25px;
}



.left-nav__inner{
  display: flex;
  text-align: left;
  margin-left: 30px;

  &__home{
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 20px;

    a{
      color: gray;
    }
  }
}

.left-nav__inner__mypage{
  margin-top: 12px;
  margin-right: 20px;

  a{
    color: gray;
  }
}

.btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.right-nav{
  float: right;
  text-align: left;
  display: flex;
  margin: -30px;
  position: relative;
  right: 10%;

  &__peep{
    margin-left: 50px;
    background-color: orangered;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    text-align: center;

    a{
      color: #fff;
    }
  }
}

.search-form{
  background: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  width: 120%;
}