*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


//ヘッダー部分

.global-nav{
  border-bottom: 1px solid rgba(0,0,0,0.25);
  height: 46px;
  width: 100%;

    &__inner{
      background-color: #fff;
      height: 46px;

      &__container{
        max-width: 1190px;
    }
  }
}

.icon__main{
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 12px;
  color: orangered;
  font-size: 25px;
}



.left-nav__inner{
  display: flex;
  text-align: left;
  margin-left: 30px;
  color: gray;

  &__items{
    margin: 12px 20px 0px 50px;
  }
}

.user-sign-up{
  background-color: #59b9c6;
  border-radius: 30px;
  width: 120px;
  height: 30px;
  text-align: center;
  display: block;
  color: #fff;
  text-align: center;
}

.user-login{
  background-color: orangered;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  text-align: center;
  display: block;
  color: #fff;
  text-align: center;
}

.left-nav__after__login{
  color: gray;
}

.left-nav__after__login:hover{
  color: orangered;
}


.btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.right-nav{
  float: right;
  text-align: left;
  display: flex;
  margin: -30px;
  position: relative;
  right: 10%;

  &__peep{
    margin-left: 50px;
    background-color: orangered;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;

    a{
      color: #fff;
    }
  }
}

.search-form{
  background: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  width: 120%;
}


//メインコンテンツ部分

.page-outer{
  min-height: 100vh;
  background-color: #e6ecf0;
}

.page-container{
  width: 1190px;
  padding: 56px 14px;
  margin-left: 130px;
  display: flex;
}

.dashboard-left{
  margin-top: 30px;

  &__profile{
    border: 1px solid #e6ecf0;
    background: #fff;
    height: 300px;
    width: 400px;
    margin-right: 20px;

    &__top{
      height: 50%;
      background-color: orangered;
    }
  }
}

.profile-main-icon{
  height: 200px;
  width: 200px;
  position: relative;
  top: 50%;
  left: 45%;
}

.dashboard-left__profile__bottom{
  text-align: center;
}

.bottom{
  display: flex;
  padding: 50px;

  &__content{
    margin-right: 40px;
  }
}

.peeps{
  display: flex;
  flex-direction: column;

  &__items{
    margin-left: 50px;
    margin-top: 30px;
  }
}

//ツイート部分

.contents{
  padding: 20px 40px 10px;
  top: -1px;
  background-color: #fff;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  background-clip: padding-box;
  margin-bottom: 3px;
  min-width: 300px;
  min-height: 50px;

}

.contents__name{
  margin-bottom: 5px;
}

.contents__text{
  margin-bottom: 8px;
}

.flash{
  color: #fff;
  width: 100%;
  height: 40px;
  background-color: orangered;
  text-align: center;
  line-height: 40px;
  animation: fadeout 1s linear 3s 1;
  animation-fill-mode: forwards;
  -webkit-animation: fadeout 1s linear 3s 1;
}

.contents__icon{
  margin-left: 10px;
  color: gray;
}

.edit-confirm{
  margin-left: 300px;
}
