.register-wrapper{
  text-align: center;
  margin-top: 30px;
}

.new-register{
  margin-bottom: 20px;
}

.text-field{
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
}

.label_sub{
  background-color: orangered;
  border-radius: 30px;
  color: #fff;
  border: 7px solid orangered;
  font-size: 10px;
}

.signup-btn{
  border: 1px solid;
  height: 50px;
  width: 200px;
  color: #fff;
  background-color: orangered;
  font-size: 20px;
  display: block;
  margin-left: 620px;
}

.new-register-at-login{
  border: 1px solid;
  height: 50px;
  width: 200px;
  color: #fff;
  background-color: #59b9c6;
  font-size: 20px;
  display: block;
  margin-left: 620px;
  margin-top: 20px;
  line-height: -20px;
}

.label{
  font-size: 15px;
}

#address_prefecture{
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  border: solid 10px orangered;
  margin: 0 0 20px;
  width: 325px;
  background-color: orangered;
  color: #fff;
  font-size: 20px;
}

.register_btn{
  font-weight: bold;
  color: red;
}

.line{
  margin: 0 auto;
}