.register-wrapper{
  text-align: center;
  margin-top: 30px;
}

.new-register{
  margin-bottom: 20px;
}

.text-field{
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
}

.signup-btn{
  border: 1px solid;
  height: 50px;
  width: 200px;
  color: #fff;
  background-color: orangered;
}

.label{
  font-size: 15px;
}