.tweets-main{
  margin: 20px 520px;

  &__contain{

    &__logo{
      font-size: 30px;
      font-weight: bold;
      margin-left: 155px;

      &__icon{
        padding: 10px 30px;
        margin-left: 140px;

        &__user{
          font-size: 35px;
          margin-top: 20px;
        }
      }
    }
  }
}

.tweets-field{
  border: solid 1px orangered;

  &__btn{
    background-color: orangered;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 30px;

    &__cancel{
      background-color: orangered;
      width: 130px;
      height: 50px;
      font-size: 20px;
      color: white;
      border-radius: 30px;
      border: solid 13px orangered;
      margin-left: 30px;
    }
  }
}
